$color-purple-dark: #413a51;
$color-purple-light: #9d98c2;

$font-main: 'Montserrat';
$font-headline: 'Anton';

$screen-xl: 2000px;
$screen-lg: 1600px;
$screen-md: 1100px;
$screen-sm: 800px;
$screen-xs: 350px;